body {
    background: rgb(45, 45, 45);
    /* font-family: "Quicksand", sans-serif; */
    margin: 0;
    padding: 0;
}

.logo{
height: 200px;
width: 350px;
display: block;
margin-left: auto;
margin-right: auto;
/* width: 50% */
}

.card-main{
    background: #FDDA00;
    height: 500px;
    border-color:#FC7500;
    border-style: solid;
    border-width: 10px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 50px;
}

