body {
    background: rgb(45, 45, 45);
    /* font-family: "Quicksand", sans-serif; */
    margin: 0;
    padding: 0;
}

.logo{
height: 200px;
width: 350px;
display: block;
margin-left: auto;
margin-right: auto;
/* width: 50% */
}

.logo2{
    height: 200px;
    width: 350px;
    display: block;
    margin-left: 200px;
    margin-right: auto;
    margin-top:  -85px;
    }

    .logo3{
        height: 200px;
        width: 350px;
        display: block;
        margin-left: auto;
        margin-right: 320px;
        margin-top:  -180px;
        }

.card-main{
    background: #FDDA00;
    height: 500px;
    width: 65%;
    border-color:#FC7500;
    border-style: solid;
    border-width: 10px;
    margin-left: 100px;
    margin-right: 200px;
    margin-bottom: 50px;
    display: inline-block;
}

.card-side{
    float: left;
    height: 500px;
    width: 80px;
    margin-left: 20px;
    background: #FDDA00;
    border-color:#FC7500;
    border-style: solid;
    border-width: 10px;

}

