body {
    background: rgb(45, 45, 45);
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-thumb {
    background-color: #FC7500;
    border-radius: 20px;
}

.card {
    display: flex;
}

.logo {
    height: 200px;
    width: 350px;
    display: block;
    margin-left: 700px;
    margin-right: auto;
    transform: rotate(13deg);
}
.logo2 {
    height: 200px;
    width: 350px;
    display: block;
    margin-left: 350px;
    margin-right: auto;
    margin-top: -95px;
    transform: rotate(13deg);
}
.logo3 {
    height: 200px;
    width: 350px;
    display: block;
    margin-left: auto;
    margin-right: 115px;
    margin-top: -170px;
    transform: rotate(11deg);
}

.card-main {
    background: #FDDA00;
    height: 520px;
    width: auto;
    flex: 1;
    border-color: #FC7500;
    border-style: solid;
    border-width: 10px;
    margin-left: 20px;
    margin-right: 150px;
    margin-bottom: 50px;
}

.card-side {
    flex: 6;
    height: 520px;
    width: 80px;
    margin-right: 100px;
    background: #FDDA00;
    border-color: #FC7500;
    border-style: solid;
    border-width: 10px;

}

.cards_blank {
    background-image: url("media/back_200.png");
    height: 150px;
    width: 150px;
    margin: 9px;


}

.active {
    background-image: url("media/blank.png");
    transition-timing-function: ease-in;
    transform: rotateY(180deg);
    transition: 0.5s;

}